@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Globalization;
@model InvestingApp.Models.AccountData
@using InvestingApp.Helpers; 

<h4 style="text-align: center;">@Model.UserName's account</h4>

<div class="row">
    <div class="panel panel-info index-panel">
        <div class="panel-heading">Account information</div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Account balance</th>
                    <th>Fund manager's benefit</th>
                </tr>
                <tr>
                    <td class="text-info">@Model.Money RUB</td>
                    <td class="text-info">@Model.Benefit %</td>
                </tr>
                <tr>
                    <th>Total profit</th>
                    <th>Month profit</th>
                </tr>
                <tr>
                    @{
                        if (Model.TotalProfit > 0)
                        {
                            @:<td class="text-success">
                        }
                    else
                        {
                            @:<td class="text-danger">
                        }
                    }
                    @Model.TotalProfit RUB (@Model.TotalProfitPercent %)
                    </td>
                    @{ 
                        if (Model.LastMonthProfit > 0)
                        {
                            @: <td class="text-success">
                        }
                        else
                        {
                            @: <td class="text-danger">
                        }
                    }
                    @Model.LastMonthProfit RUB (@Model.LastMonthPercent %)
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'], 'language': '@CultureInfo.CurrentCulture.TwoLetterISOLanguageName' });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        drawBalancesChart();
        drawProfitsChart();
        drawRatioChart();
    }

    function drawBalancesChart() {
        @{
            var pxs = MVCStringsHelper.GetMVCDatesString(Model.Balances.Select(o => o.Key));
            var pys = MVCStringsHelper.GetMVCDoublesString(Model.Balances.Select(o => o.Value));
            var ticksCount = Model.Balances.Count / 4;
        }

        var xs = [@pxs];
        var y1s = [@pys];

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Balances');

        for (i = 0; i < xs.length; i++) {
            data.addRow([xs[i].toString(), y1s[i]]);
        }

        var options = {
            title: 'Your funds',
            curveType: 'function',
            legend: { position: 'bottom' },
            hAxis: { showTextEvery: @ticksCount },
            vAxes: {0: { format:'# RUB' } }
        };

        var chart = new google.visualization.LineChart(document.getElementById('profitsChart'));
        chart.draw(data, options);
    }

    function drawProfitsChart() {
    @{
        var pmxs = MVCStringsHelper.GetMVCString(Model.ProfitsPerMonth.Select(o => o.Description));
        var pmy1s = MVCStringsHelper.GetMVCDoublesString(Model.ProfitsPerMonth.Select(o => o.Value));
        var pmy2s = MVCStringsHelper.GetMVCDoublesString(Model.ProfitsPerMonth.Select(o => o.Percent));
    }
        var xs = [@pmxs];
        var y1s = [@pmy1s];
        var y2s = [@pmy2s];

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Profit, %');
        data.addColumn({ type: 'string', role: 'tooltip', 'p': { 'html': true } });

        for (i = 0; i < xs.length; i++) {
            data.addRow([xs[i].toString(), y2s[i], getProfitsToolTip(xs[i], y1s[i], y2s[i])]);
        }
        var options = {
            tooltip: { isHtml: true },
            title: 'Profits per month',
            legend: { position: 'bottom' },
            vAxes: {
                0: {
                    gridlines: {color: 'transparent'},
                    format:'# \'%\''
                },
            },
            series: {0: {targetAxisIndex:0}
            },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('profitsPerMonthChart'));

        chart.draw(data, options);
    }

    function drawRatioChart() {
          var data = google.visualization.arrayToDataTable([
            ['Owner', 'Money, %'],
            ['You', @Model.Money.ToString("0.00", CultureInfo.InvariantCulture)],
            ['Others', @Model.OthersMoney.ToString("0.00", CultureInfo.InvariantCulture)]
            ]);

        var options = {
            title: 'Investment shared ratio',
            legend: { position: 'bottom' },
            is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('ratioChart'));

        chart.draw(data, options);

    }
</script>

<div class="row">
    <div id="profitsChart" class="chart"></div>
</div>

<div class="row">
    <div id="profitsPerMonthChart" class="chart"></div>
</div>

<div class="row">
    <div id="ratioChart" class="chart" ></div>
</div>

<div class="row">
    <div class="panel panel-warning index-panel">
        <div class="panel-heading">Your cash flow</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Payment</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flow in Model.Flows)
                    {
                        if (flow.Payment > 0)
                        {
                            @: <tr class="success">
                        }
                        else
                        {
                            @:<tr class="danger">
                        }
                        <td>@flow.DateTimeStamp.ToString("MMM d yyyy", CultureInfo.InvariantCulture)</td>
                        <td><b>@flow.Payment RUB </b></td>
                        <td>@flow.Description</td>
                        @:</tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
