<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120472863-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-120472863-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AK Investing Technologies</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/Images/favicon.png")" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : string.Empty)">
                        @Html.ActionLink("Investing", "Index", "Home")
                    </li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @:<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Account" ? "active" : string.Empty)">
                            @Html.ActionLink("Account", "Index", "Account");
                            @:</li>
                        }
                    }
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Contacts" ? "active" : string.Empty)">
                        @Html.ActionLink("Contacts", "Index", "Contacts")
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Message")"><span class="glyphicon glyphicon-envelope"></span> Message</a></li>
                    <li>
                        @{
                            if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @id = "logoutForm", @action = Url.Action("Logout", "Account", ViewContext.RouteData.Values, "https") }))
                                {
                                    @Html.AntiForgeryToken();
                                }
                                @:<a id="logoutLink" href="javascript:void(0)"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                                <script>
                                    var form = document.getElementById("logoutForm");
                                    document.getElementById("logoutLink").addEventListener("click", function () {
                                        form.submit();
                                    });
                                </script>
                            }
                            else
                            {
                                @:<a href="@Url.Action("Index", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - AK Investing Technologies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @RenderSection("scripts", required: false)
</body>
</html>