@model InvestingApp.Models.Margins.CalculatedMargin

<br />
@if (!Model.Success)
{
    @: <p class="alert alert-danger form-alert-container"> Instrument not found or parameters are invalid. </p>
}
else
{
    <h4>
        Instrument: <b> @Model.InstrumentName (@Model.InstrumentCode) </b>
    </h4>
    <h4>
            Initial margin: <b> @Model.InitialMargin (@Model.InitialMarginPercent %) </b>
    </h4>
    <h4>
            Delivery date: <b> @Model.DeliveryDate.ToShortDateString()  </b>
    </h4>
        <table class="table table-striped table-condensed">
            <tbody>
                <tr>
                    <th>%</th>
                    <th>Amount</th>
                    <th>Money</th>
                    <th>Residue</th>
                    <th>Residue / item</th>
                </tr>
                @foreach (var m in Model.Margins)
                {
                    <tr>
                        <td>@m.Percent</td>
                        <td>@m.Amount</td>
                        <td>@m.Money RUB</td>
                        <td>@m.Residue RUB</td>
                        <td>@m.ResiduePerItem RUB</td>
                    </tr>
                }
            </tbody>
        </table>
}
